* {
    font-family: sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
}


button,
input[type="button"] {
    padding: 10px;
    border: 0;
    background: skyblue;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.flex-box {
    display: flex
}

#loader {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
    font-size: 3rem;
    transition: all .3s;
}
#loader[hidden] {
    display: none;
}

#loader:before {
    content: "";
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#selectModel {
    position: absolute;
    padding: .3rem .5rem;
    border: 0;
}

#specifications {
    position: absolute;
    right: 0;
    background: rgba(255,255,255, .8);
    width: 30%;
    max-height: 50%;
    overflow-y: auto;
}

#specifications td {
    font-size: 14px;
    padding: .3rem 1rem;
}

summary {
    cursor: pointer;
    padding: 1rem;
    background: lightgray;
}

.color {
    display: inline-block;
}

.color input {
    opacity: 0;
    height: 0;
    width: 0;
}
.color input:checked + label {
    border: 1px solid;
}

.color .color-label {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid;
    border-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
}
